* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;

}

.container {
  background-color: #122e52;
  border-radius: 5px;
  box-shadow: 2px 2px 12px 2px #123952;
  flex-direction: row;
}

.landing-page{
  
  padding-top: 2rem;
  text-align: center;
  
}

.navbar-container {
  display: flex;
  flex-direction: row;
  background: linear-gradient(#123952, white);
  height: 20%;
  justify-content: center;
  align-items: center;
  color: white;
  list-style: none;
  gap: 1rem;
}

ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.logo {
  margin-top: 1rem;
  width: 15vw;
  margin-right: 1rem;
}

.ingresar {
  margin-top: 1rem;
  padding: 0.2rem;
  color: #2c3c72;
  text-decoration: none;
  margin-top: 1rem;
  border-style: solid;
  border-color: transparent;
  box-shadow: 1px 1px 1px ;
  font-size: 1.5rem;
}

.ingresar:hover {
  color: #48588b;
  box-shadow: 2px 2px 2px 1px;
}

.in{
  color: #0e364e;
}
.salir {
  padding: 0.2rem;
  color: #2c3c72;
  text-decoration: none;
  margin-top: 1rem;
  border-style: solid;
  border-color: transparent;
  box-shadow: 1px 1px 1px;
  font-size: 1.5rem;
}

.users-list{
  padding-top: 2rem;
}

.salir:hover {
  color:  #48588b;
  box-shadow: 2px 2px 2px 2px;
}

.items {
  margin-top: 1rem;
  list-style: none;
  display: flex;
  flex-direction: row;

}

.styles {
  margin: none;
}

.mb-3 {
  padding: 1rem;
}

.mb-2{
  padding-left: 1rem;
}

.background-picture {
  background-image: url("https://img.freepik.com/free-photo/group-diverse-people-having-business-meeting_53876-25060.jpg?w=1060&t=st=1665578129~exp=1665578729~hmac=471a388733a978a145df2c1e9fbc4339c077317c95e681d7428a4fd2e62cd9c8");
  height: 27vw;
  width: 100%;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
  background-position: right;
  background-size: cover;
  opacity: 1;
}

.title-box {
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 20rem;
  text-align: center;
  z-index: 2;
}

.title-box>h2 {
  text-align: center;
  box-shadow: 1rem;
}

.numbers-container>h1 {
  color: #00c6aa
}

.formTitle {
  color: #00c6aa;
}

.main-text>h4 {
  color: #00c6aa;
}

.home-title-rec {
  color: #00c6aa;
  margin-top: 3rem;
  text-align: center;
}

.numbers-container {
  border-color: #123952;
  text-align: center;
  background-color: #123952;
  margin: 0;
  padding: 0;
  border: none;
}

.home-title {
  text-align: center;

  font-size: 20px;
  color: white;
  padding: 2rem 2rem 0rem 2rem;
}

.main-text {
  text-align: center;
  padding: 2rem 1rem 0rem 1rem;
  color: white;
  font-size: 20px;
}

.card-header > h2 {
  color: #00c6aa;
}

@media (max-width: 800px) {
  .title-box {
    padding-top: 10rem;
  }
  .form-container{
    width: 3rem;

  }
}

@media (max-width: 600px) {
  .title-box {

    padding-top: 7rem;
  }


}

@media (max-width: 480px) {
  .title-box {

    padding-top: 4rem;
  }

  .salir {
    font-size: 1rem;
  }

  .ingresar {
    font-size: 1rem;
  }
}

@media (max-width: 400px) {
  .title-box {

    padding-top: 3rem;
  }

  .salir {
    font-size: 1rem;
  }

  .ingresar {
    font-size: 1rem;
  }
}

.form{
  padding-top: 3rem;
}

.addButton{
  background-color:antiquewhite;
  margin: 1rem;
  padding: 10px;
}

.users-card{
  padding: 1rem;
  background-color: #ECF0F1;
  border-radius: 10px;
  box-shadow: 2px 2px 12px 2px #123952;
}

 .card-name{
  color: #3c5e9e;
  
}

.users-list{
  color: #F7F9F9 ;
}

.btns{
  display: inline-block;
}

.delete{
  height: 2rem;
  background-color: #E74C3C ;
  width: 4rem;
}
.edit{
  height: 2rem;
  width: 4rem;
  background-color: #A9DFBF;

}



.addButton:hover{
  background-color: #3c5e9e;
}

.form-container{
  
 
  border-radius: 10px;
  box-shadow: 2px 2px 12px 2px #123952;
  background-color: #ECF0F1;
  width: 25%;
  text-align: center;
  display: inline-block;
  justify-content: center;
  padding: 1rem;

}

.input-form{
  width: 10%;
  text-align: center;
}

.form-body {
  text-align: left;
  padding: 20px 10px;
}

.form-body>* {
  padding: 5px;
}

.form__label {
  width: 40%;
}

.form_input {
  width: 60%;
}




.formDiv {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.main-title {
  text-align: center;
  padding-top: 2rem;
  color: #c9d1d0;
}

.upload-feature {
  padding-bottom: 2rem;
}

.submitBtn {
  background-color: #3c5e9e;
  border-color: #3c5e9e;
  border-radius: 5px;
  width: 12rem;
  height: 3rem;
  color: white;

}

.submit {
  background-color: #3c5e9e;
  width: 8rem;
  height: 2.5rem;
  border-radius: 5px;
  color: white;
  border: none;
}

.submit:hover {
  background-color: #205320;
}

#name,
#indentification,
#email {
  margin: 0.3rem 0;
}

#texto {
  text-align: center;
  color: white;
  align-items: center;
  justify-content: center;
}

#div_file {
  position: relative;
  margin: 5rem;
  padding: 10px;
  width: 12.5rem;
  height: 2.6rem;
  background-color: #3c9e3c;
  border-radius: 5px;
  cursor: pointer;
}

#file {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;

}

#div_file:hover {
  background-color: #205320;
}

.submitBtn:hover {
  background-color: #0e364e;
}

#name,
#identification,
#email,
#phoneNumber {
  width: 20rem;
  border-radius: 5px;
  border-color: aliceblue;
  text-align: center;
}

.me-auto {
  margin-left: 1.5rem;
  font-size: 1rem;

}

.footer {
  width: 100%;
  height: 10vh;
  color: white;
  text-align: center;
  margin-top: 4rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.warning{
  padding-top: 2rem;
  text-align: center;
  margin: 2rem;
  color: antiquewhite;
}

#texto{
  display: flex;
  justify-content: center;
}